# Python
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

# Virtual environments
.venv

# Env files
.env
.env.development
.env.production
.env.testing

# Caches
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Local knowledge
knowledge_base/

# IDE
.vscode/
.idea/

# DB
*.db
deepquery.db

# md
.md
